<hr>

<footer>
    <p id="social-buttons">
        {{with .Site.Author.twitter}}<a href="https://twitter.com/{{.}}" class="link-button twitter">
            <svg class="icon icon-twitter">
                <use xlink:href="/images/icons.svg#icon-twitter"></use>
            </svg>
            Twitter
        </a>{{end}}
        {{with .Site.Author.github}}<a href="https://github.com/{{.}}" class="link-button github">
            <svg class="icon icon-github">
                <use xlink:href="/images/icons.svg#icon-github"></use>
            </svg>
            GitHub
        </a>{{end}}
        {{with .Site.Author.email }}<a href="mailto:{{.}}" class="link-button email">
            <svg class="icon icon-mail">
                <use xlink:href="/images/icons.svg#icon-mail"></use>
            </svg>
            Email
        </a>{{end}}
        <!--
        {{with .Site.Author.linkedin }}<a href="https://linkedin.com/in/{{.}}" class="link-button linkedin">
            <svg class="icon icon-email">
                <use xlink:href="/images/icons.svg#icon-linkedin"></use>
            </svg>
            LinkedIn
        </a>{{end}}
        -->
    </p>

    <p>
        &copy;
        <span id="copyright-year">{{ now.Year }}</span>
        <script type="text/javascript">
            document.getElementById('copyright-year').textContent = new Date().getFullYear();
        </script>
        {{ .Site.Author.name }}
    </p>

</footer>
